{
	"plugins": [
		[
			"module-resolver",
			{
				"cwd": "babelrc",
				"root": ["./src"],
				"extensions": [".js", ".ios.js", ".android.js"],
				"alias": {
					"api": "./src/api",
					"components": "./src/components",
					"navigations": "./src/navigations",
					"scenes": "./src/scenes"
				}
			}
		]
	]
}
