{
	"plugins": [
		[
			"module:react-native-dotenv",
			{
				"envName": "APP_ENV",
				"moduleName": "@env",
				"path": ".env"
			}
		],

		[
			"module-resolver",
			{
				"cwd": "babelrc",
				"root": ["./src"],
				"extensions": [
					".js",
					".ios.js",
					".android.js",
					".jsx",
					".ios.jsx",
					".android.jsx",
					".ts",
					".ios.ts",
					".android.ts",
					".tsx",
					".ios.tsx",
					".android.tsx"
				],
				"alias": {
					"assets": "./src/assets",
					"store": "./src/store",
					"api": "./src/api",
					"components": "./src/components",
					"navigations": "./src/navigations",
					"scenes": "./src/scenes",
					"shuffle": "./src/shuffle"
				}
			}
		]
	]
}
